/* -------------RESET CSS----------- */
:root {
	--main-font: sans-serif;
    --font-size: '16px';
    --main-color: #f9ed69;
    --second-color: #222;
    --third-color: #b83b5e;
	--fourth-color: #6a2c70;
    --main-modal-color: rgba(249, 237, 105, 0.75);
    --second-modal-color: rgba(34, 34, 34, 0.75);
    --container-width: 1200px;
    --black-color: #222;
	--black-modal-color: rgba(34, 34, 34, 0.75);
	
}
html {
	box-sizing: border-box;
	font-family: var(--main-font);
    font-size: var(--font-size);
    /* navegación, le da un efecto cuando se presiona desde el enlace */
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    /* Quita los bordes en horizontal */
    overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

/* -------------RESET CSS----------- */

/* -------------HEADER----------- */
.header {
	position: sticky;
	top: 0;
	padding: 1rem;
	background-color: var(--main-color);
}

.header h1 {
	margin: 0;
	text-align: center;
}
/* -------------HEADER----------- */

/* -------------SECTION----------- */
.section {
	padding: 2rem;
	padding-top: 4rem;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: var(--container-width);
	min-height: 100vh;
	text-align: center;
}

.section:nth-child(1) {
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.section:nth-child(2) {
	background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.section:nth-child(3) {
	background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.section:nth-child(4) {
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.section:nth-child(5) {
	background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}
/* -------------SECTION----------- */

/* -------------PANEL----------- */
/* Que el menú salga de arriba (x, y) 
Opciones: 
Desde arriba: transform: translate(0, -100%);
Desde abajo: transform: translate(0, 100%);
Desde izquierda: transform: translate(-100%, 0);
Desde derecha: transform: translate(100, 0); */
/* .panel {
	position: fixed;
	z-index: 800;
	background-color: var(--second-modal-color);
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transform: translate(0, -100%);
	transition: transform 0.3s ease;
} 

.is-active{
	transform: translate(0, 0);
} */

/* Con Opacidad aparece de frente */
/* .panel {
	position: fixed;
	z-index: 800;
	background-color: var(--second-modal-color);
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.5s ease;
}

.is-active{
	opacity: 1;
} */

/* Las dos a la vez */
.panel {
	position: fixed;
	z-index: 800;
	background-color: var(--second-modal-color);
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transform: translate(0, -100%);
	transition: transform 0.4s ease, opacity 1.3s ease;
} 

.is-active{
	opacity: 1;
	transform: translate(0, 0);
}
/* Las dos a la vez */
.menu {
	width: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.menu a {
	padding: 2rem;
	width: inherit;
	display: block;
	font-size: 1.5rem;
	text-decoration: none;
	color: var(--main-color);
	transition: all 0.3s ease;
}

.menu a:hover {
	font-weight: bold;
	color: var(--second-color);
	background-color: var(--main-modal-color);
}
/* -------------PANEL----------- */

/* -------------PANEL-BTN----------- */
.panel-btn {
	background-color: var(--main-color) !important;
	bottom: 1vh;
	right: 1vw;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	position: fixed;
	z-index: 900;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* -------------PANEL-BTN----------- */